/* General reusable stuff (from Bootstrap) */
.text-center { text-align: center; }
.float-right { float: right; }
.list-unstyled { padding: 0; }
.list-unstyled li { list-style-type: none; }

/* Print styles, for resume PDF */
@media print {
  body { color: #000; }
  body > header { display: none; }
  .hidden-print { display: none; }
}
@media screen {
  .visible-print { display: none; }
}

/* Flex */
div.flex {
  display: -webkit-flex;
  display: flex;
}
div.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Index */
figure.mugshot {
  max-width: 25%;
  margin-top: 0;
}

/* Projects page */
div.project {
  width: 25ch;
  padding-right: 1ch;
}

/* Posts */

p.subtitle { margin-top: 0; }

article ol:last-child {
  margin-top: 3rem;
  font-size: 0.833em;
}

/* Rouge highlighter */
.na, .nt     { color: #900; }
.s, .s1, .s2 { color: #090; }
.nb, .mi     { color: #009; }
.k, .kc, .kd { color: #770; }
.p           { color: #555; }

/* Days-in-month formula post */
p.formula { text-align: center; }
table.tov { text-align: right; }
table.tov th {
  font-weight: normal;
  border-right-width: 2px;
}
table.tov td.y { background-color: #9e9; }
table.tov td.n { background-color: #e99; }
