/* General reusable stuff (from Bootstrap) */
.text-center { text-align: center; }
.float-right { float: right; }
.list-unstyled { padding: 0; }
.list-unstyled li { list-style-type: none; }

/* Print styles, for resume PDF */
@media print {
  html { font-size: 14px; }
  body {
    margin: 0;
    color: #000;
  }
  body > header { display: none; }
  .hidden-print { display: none; }
}
@media screen {
  .visible-print { display: none; }
}

/* Flex */
div.flex {
  display: -webkit-flex;
  display: flex;
}
div.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
div.flex-center {
  justify-content: center;
}

/* Index */
figure.mugshot {
  max-width: 25%;
  margin-top: 0;
}

/* Projects page */
div.project {
  width: 25ch;
  padding-right: 1ch;
}

/* Resume */

div.pdf-link { margin-top: 1.5rem; }

/* Records */

a.record { height: 200px; }

/* Posts */

.subtitle { margin-top: 0; }

nav.discussions { font-size: 0.833em; }
nav.discussions ul { margin-top: 0; }

div.footnotes ol, div.footnotes code {
  font-size: 0.833em;
}
div.footnotes ol li p {
  margin-top: 0;
}

/* Rouge highlighter */
.na, .nt, .nf     { color: #900; }
.s, .s1, .s2      { color: #090; }
.nb, .mi, .mh     { color: #009; }
.cp               { color: #599; }
.k, .kc, .kd, .kt { color: #770; }
.p, .c1           { color: #555; }
.c                { color: #777; }

/* Days-in-month formula post */
p.formula { text-align: center; }
table.tov { text-align: right; }
table.tov th {
  font-weight: normal;
  border-right-width: 2px;
}
table.tov td.y { background-color: #9e9; }
table.tov td.n { background-color: #e99; }

/* Tetrasm post */

table.memory code {
  background-color: transparent;
  border: none;
}
