---
title: Projects

projects:
  current:
    - name: Indiana
      repo: programble/indiana
      tech: [NASM]
      year: 2017
      icon: fa-tasks
      desc: Port of Jonesforth

    - name: Fix
      repo: programble/fix
      tech: [Rust]
      year: 2017
      icon: fa-calculator
      desc: Fixed-point numbers

    - name: Tetrasm
      repo: programble/tetrasm
      tech: [NASM]
      year: 2015
      icon: fa-gamepad
      desc: Tetris for x86

    - name: Writ
      repo: programble/writ
      tech: [CSS]
      year: 2015
      icon: fa-align-left
      desc: Opinionated, classless styles for semantic HTML

    - name: Inth OAuth2
      repo: programble/inth-oauth2
      tech: [Rust]
      year: 2016
      icon: fa-users
      desc: OAuth 2.0 client

    - name: Scraper
      repo: programble/scraper
      tech: [Rust]
      year: 2016
      icon: fa-filter
      desc: HTML parsing and querying with CSS selectors

  past:
    - name: Pult
      repo: programble/pult
      tech: [Node.js]
      year: 2014
      icon: fa-terminal
      desc: Access local servers on .dev domains

    - name: Errio
      repo: programble/errio
      tech: [Node.js]
      year: 2015
      icon: fa-exchange
      desc: Error serialization and deserialization

    - name: Gury
      repo: programble/gury
      tech: [Node.js]
      year: 2015
      icon: fa-picture-o
      desc: Upload anything to imgur

    - name: Discohands
      repo: busbud/discohands
      tech: [Node.js, MongoDB]
      year: 2014
      icon: fa-comments
      desc: Democratically choose topics to discuss

    - name: SuperError
      repo: busbud/super-error
      tech: [JavaScript]
      year: 2014
      icon: fa-exclamation-triangle
      desc: Easily subclass errors

    - name: Apricot
      repo: apricot-lang/apricot
      tech: [Ruby]
      year: 2012–2013
      icon: fa-code
      desc: Clojure-like Lisp on Rubinius
---

<h2>Current Projects</h2>

<div class="flex flex-wrap">
  {% for project in page.projects.current %}
    <div class="project">
      <h4>
        <small><i class="fa {{ project.icon }}"></i></small>
        <a href="https://github.com/{{ project.repo }}">{{ project.name }}</a>
      </h4>
      <p class="subtitle">
        <small>{{ project.tech | join:', ' }}</small>
      </p>
      <p class="subtitle">{{ project.desc }}</p>
    </div>
  {% endfor %}
</div>

<h2>Past Projects</h2>

<div class="flex flex-wrap">
  {% for project in page.projects.past %}
    <div class="project">
      <h4>
        <small><i class="fa {{ project.icon }}"></i></small>
        <a href="https://github.com/{{ project.repo }}">{{ project.name }}</a>
      </h4>
      <p class="subtitle">
        <small>
          {{ project.tech | join:', ' }},
          {{ project.year }}
        </small>
      </p>
      <p class="subtitle">{{ project.desc }}</p>
    </div>
  {% endfor %}
</div>

<p>
  …and <a href="https://github.com/programble?tab=repositories">many more</a>…
</p>
