---
title: Résumé

resume:
  tech:
    - name: Languages
      items:
        - Rust
        - Ruby
        - JavaScript
        - C
        - Python
        - x86 assembly

    - name: Frameworks
      items:
        - Ruby on Rails
        - Knockout.js
        - Node.js

    - name: Datastores
      items:
        - PostgreSQL
        - MongoDB
        - Redis

    - name: Tools & Platforms
      items:
        - Git
        - GitHub
        - Capistrano
        - Heroku
        - AWS
        - Digital Ocean

    - name: Systems
      items:
        - FreeBSD
        - Ubuntu
        - Arch Linux
        - OS X

  work:
    - title: Software Developer
      company: AdGear
      location: Montréal, Québec, Canada
      start: October 2015
      end: present
      stack: [Knockout.js, Ruby on Rails, PostgreSQL, Capistrano]
      doings:
        - Developed new features for the Trader demand-side-platform Rails application
        - Refactored application code and migrated database schemas
        - Participated in design of new APIs and technical features

    - title: Software Developer
      company: Busbud
      location: Montréal, Québec, Canada
      start: December 2013
      end: April 2015
      stack: [Node.js, Express, PostgreSQL, Redis, Heroku, AWS]
      doings:
        - Migrated, designed, and optimized data models
        - Developed efficient APIs for accessing and interacting with Busbud's data
        - Implemented models, abstractions and adapters for interacting with partners' APIs
        - Performed PostgreSQL database maintenance
---

<div class="pdf-link float-right hidden-print">
  <a href="resume.pdf" target="_blank">
    <i class="fa fa-download"></i> PDF
  </a>
</div>

<h2 class="visible-print">Curtis McEnroe</h2>

<ul class="subtitle list-unstyled visible-print">
  <li>{{ site.domain }}</li>
  <li>{{ site.email }}</li>
  <li>github.com/programble</li>
</ul>

<h3>Technical Experience</h3>

<dl>
  {% for category in page.resume.tech %}
    <dt>{{ category.name }}</dt>
    <dd>{{ category.items | join:', ' }}</dd>
  {% endfor %}
</dl>

<h3>Work Experience</h3>

{% for job in page.resume.work %}
  <h4>
    {{ job.title }}, {{ job.start }} – {{ job.end }}
    <br>
    <small>{{ job.company }}, {{ job.location }}</small>
  </h4>
  <p>{{ job.stack | join:', ' }}</p>
  <ul>
    {% for doing in job.doings %}
      <li>{{ doing }}</li>
    {% endfor %}
  </ul>
{% endfor %}
