---
layout: narrow
title: Résumé
id: resume
---

<div class="page-header">
  <div class="pull-right hidden-print">
    <a class="btn btn-primary"
       href="resume.pdf"
       target="_blank">
      <i class="fa fa-download"></i> PDF
    </a>
  </div>

  <h3>Curtis McEnroe</h3>
  <p>
    <ul class="list-unstyled visible-print">
      <li>{{ site.domain }}</li>
      <li>{{ site.email }}</li>
      <li>github.com/programble</li>
    </ul>
  </p>
</div>

<h3>Technical Experience</h3>

<dl class="dl-horizontal">
  {% for category in site.resume.tech %}
    <dt>{{ category.name }}</dt>
    <dd>{{ category.items | join:', ' }}</dd>
  {% endfor %}
</dl>

<h3>Work Experience</h3>

{% for job in site.resume.work %}
  <h4>
    {{ job.title }}, {{ job.start }} – {{ job.end }}
    <br>
    <small>{{ job.company }}, {{ job.location }}</small>
  </h4>
  <p>{{ job.stack | join:', ' }}</p>
  <ul>
    {% for doing in job.doings %}
      <li>{{ doing }}</lii>
    {% endfor %}
  </ul>
{% endfor %}

<h3>Education</h3>

<ol class="list-unstyled">
  {% for education in site.resume.education %}
    <li>
      {% if education.program %}
        {{ education.program }},
      {% endif %}
      {{ education.school }},
      {{ education.start }}–{{ education.end }}
    </li>
  {% endfor %}
</ol>

<h3>Honours and Awards</h3>

<ol class="list-unstyled">
  {% for award in site.resume.awards %}
    <li>{{ award.name }}, {{ award.school }}, {{ award.year }}</li>
  {% endfor %}
</ol>
