<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} · {{ site.name }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if page.path == 'index.html' %} class="active" {% endif %}>
              <a href="/">Projects</a>
            </li>

            <li {% if page.path == 'resume.html' %} class="active" {% endif %}>
              <a href="/resume.html">Résumé</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/programble">
              <i class="icon-github-alt"></i> GitHub
            </a></li>

            <li><a href="https://bitbucket.org/programble">
              <i class="icon-bitbucket"></i> Bitbucket
            </a></li>

            <li><a href="mailto:programble@gmail.com">
              <i class="icon-envelope"></i> Email
            </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
