<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} · {{ site.name }}</title>

    <meta charset="utf-8">
    <link rel="icon" type="image/jpeg" href="//gravatar.com/avatar/{{ site.gravatar }}?s=16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if page.id == 'about' %} class="active" {% endif %}>
              <a href="/">About</a>
            </li>

            <li {% if page.id == 'projects' %} class="active" {% endif %}>
              <a href="/projects.html">Projects</a>
            </li>

            <li {% if page.id == 'resume' %} class="active" {% endif %}>
              <a href="/resume.html">Résumé</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/programble">
              <i class="fa fa-github-alt"></i> GitHub
            </a></li>

            <li><a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i> Email
            </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        var age = Math.floor((new Date() - new Date(1995, 6, 14)) / 31536000000);
        $('#a').html(age == 18 ? 'an' : 'a');
        $('#age').html(age);
      });
    </script>
  </body>
</html>
