<!DOCTYPE html>
<meta charset="utf-8">

{% if page.title %}
  <title>{{ page.title }} · {{ site.name }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}

<link rel="icon" type="image/jpeg" href="/image/face.jpg">
{% feed_meta %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//writ.cmcenroe.me/1.0.4/writ.min.css">
<link rel="stylesheet" href="/css/site.css">

<header>
  <h1>Curtis McEnroe</h1>
  <nav>
    <ul>
      {% for nav in site.nav %}
        <li><a href="{{ nav.href }}">{{ nav.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>

{{ content }}
