<!DOCTYPE html>
<html lang="en-CA">
<meta charset="utf-8">

{% if page.title %}
  <title>{{ page.title }} · {{ site.name }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}

{% feed_meta %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//writ.cmcenroe.me/1.0.4/writ.min.css">
<link rel="stylesheet" href="/css/site.css">

<header>
  <nav class="visible-print">
    <ul>
      <li>{{ site.domain }}</li>
      <li>{{ site.email }}</li>
      <li>github.com/{{ site.github }}</li>
    </ul>
  </nav>
  <nav class="hidden-print">
    <ul>
      <li><a href="/">Posts</a></li>
      <li><a href="https://github.com/{{ site.github }}">GitHub</a></li>
      <li><a href="mailto:{{ site.email }}">Email</a></li>
    </ul>
  </nav>
</header>

{{ content }}
